body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif, Verdana;
}

header h1:hover {
	cursor: pointer;
}

header.navbar {
	width: 100%;
	position: relative;
	background: red;
	margin: 0 auto;
	height: 2.75em;
}

	header.navbar h1 {
		display: inline;
		color: white;
	}

	header.navbar div#menu-button {
		position: absolute;
		top: 0;
		right: 0;
		color: white;
		padding: 0.55em;
		display: none;
	}

		header.navbar div#menu-button:hover {
			background: black;
			cursor: pointer;
		}

	header.navbar div#nav-content {
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
	}

		div#nav-content div#nav-menu {
			display: inline;
			width: 100%;
			color: white;
			margin-right: 0.5em;
		}

			div#nav-menu div.nav-menu-item {
				display: inline;
				padding: 0.70em;
				margin: 0;
			}

				div.nav-menu-item:hover {
					cursor: pointer;
					text-decoration: underline;
					background: rgba(0, 0, 0, 0.5);
				}

				div.nav-menu-item a {
					text-decoration: none;
					color: white;
				}

		div#nav-content button.appointment {
			background: #03070A; 
			color: white; 
			padding: 0.70em; 
			font-size: 1em;
			margin-top: 0.1em;
			margin-right: 0.1em;
			border: 0px; 
			-webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
			-moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
			box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
			border-radius: 4px; text-decoration: none; 
			display: inline;
		}

			button.appointment a {
				text-decoration: none;
				color: white;
			}





main#content {
	width: 100%;
	text-align: center;
}

section {
	width: 100%;
}



.scene {
	display: inline-block;
	margin: 6em auto 0em;
	padding-top: 1em;
	width: 100%;
	height: 480px;
	perspective: 1000px;
}

	.scene:hover {
		cursor: pointer;
	}

	.scene-bg {
		display: none;
		position: absolute;
		top: 2.75em;
		padding: 0;
		margin: 0;
		width: 100%;
	}

.cube {
	display: inline-block;

	position: relative;
	margin: 0 auto;

	width: 400px;
	height: 400px;

	transform-style: preserve-3d;
	transform: rotateX(0) rotateY(0);

	transition: all 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.cube-face {
	overflow: hidden;
	position: absolute;

	border: 1px solid black;
	box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
	line-height: inherit;

	width: inherit;
	height: inherit;
	position: absolute;
	background: rgba(255, 255, 255, 0.875);
	background-size: contain;
	opacity: 0.975;
}

	div.cube-face iframe {
		width: 100%;
		height: 100%;
	}

.cube-face-front {
	width: inherit;
	height: inherit;
	transform: rotateY(0deg) translate3d(0, 0, 200px);
}

.cube-face-back {
	width: inherit;
	height: inherit;
	transform: rotateY(180deg) translate3d(0, 0, 200px);
}

.cube-face-left {
	width: inherit;
	height: inherit;
	left: 50%;
	margin-left: -200px;
	transform: rotateY(-90deg) translate3d(0, 0, 200px);
}

.cube-face-right {
	width: inherit;
	height: inherit;
	left: 50%;
	margin-left: -200px;
	transform: rotateY(90deg) translate3d(0, 0, 200px);
}

.cube-face-top {
	width: inherit;
	height: inherit;
	transform: rotateX(90deg) translate3d(0, 0, 200px);
}

.cube-face-bottom {
	width: inherit;
	height: inherit;
	transform: rotateX(-90deg) translate3d(0, 0, 200px);
}

.description {
	display: none;
}

	.description:nth-of-type(1) {
		display: block;
	}

	.loader:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.load-helper {
		display: none;
	}

	.show {
		display: inline;
	}

	.hide {
		display: none;
	}

article.description h2 {
	position: relative;
	width: 100%;
	text-align: center;
}

	.guide:hover {
		cursor: pointer;
		text-decoration: underline;
	}

		.left {
			position: absolute;
			left: 0;
			padding-left: 1em;
		}

		.right {
			position: absolute;
			right: 0;
			padding-right: 1em;
		}

footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-top: solid 1px black;
}

p a {
	color: black;
	text-decoration: none;
}

	p a:hover {
		cursor: pointer;
		text-decoration: underline;
	}



@media screen and (max-width: 1000px){
	header.navbar {
		height: 2.25em;
	}

	div#nav-menu div.nav-menu-item {
		display: block;
	}

	header.navbar div#menu-button {
		display: block;
		font-size: 1em;
	}

	header.navbar div#nav-content {
		z-index: 1;
		margin-top: 2.25em;
		border-top: solid 1px black;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		background: red;
		display: none;
	}

		div#nav-content button {
			width: 100%;
			font-size: 1em;
		}

	.scene {
		height: 380px;
	}
	.cube {
		width: 300px;
		height: 300px;
	}
	.cube-face {
		line-height: inherit;
	}
		embed {
			transform: scale(1.5);
		}
		.cube-face h2 {
			margin: 1em;
			text-align: left;
		}

		.cube-face p {
			margin: 1em;
			text-align: right;
		}
	.cube-face-front {
		transform: rotateY(0deg) translate3d(0, 0, 150px);
	}
	.cube-face-back {
		transform: rotateY(180deg) translate3d(0, 0, 150px);
	}
	.cube-face-left {
		left: 50%;
		margin-left: -150px;
		transform: rotateY(-90deg) translate3d(0, 0, 150px);
	}
	.cube-face-right {
		left: 50%;
		margin-left: -150px;
		transform: rotateY(90deg) translate3d(0, 0, 150px);
	}
	.cube-face-top {
		transform: rotateX(90deg) translate3d(0, 0, 150px);
	}
	.cube-face-bottom {
		transform: rotateX(-90deg) translate3d(0, 0, 150px);
	}
}

.mouseover {
	cursor: pointer;
}

.mouseout {
	cursor: inherit;
}