nav {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  width: calc(100% - 2.5em);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

  .button {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    border-radius: 0;
    width: 100%;
    background: white;
  }

    .button:hover {
      cursor: pointer;
      background: black;
      color: white;
      border: solid 1px white;
    }

#components {
  width: 100%;
  padding: 0.1em 0 1em;
  margin: 0 auto;
  position: relative;
  background: black;

  /* Allows for the flexbox: */
  display: flex;
  /* Flexbox as rows that wrap around each other: */
  flex-flow: row wrap;

  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.item {
  /* Maximum width of each item will be 33% - 3em: */
  flex-basis: calc(33% - 2.95em);
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  background: white;
  color: black;
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  text-align: left;
}

  .item h1 {
    text-align: center;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

@media screen and (max-width: 749px){
  nav {
    margin-top: 0;
    display: block;
    width: calc(100% - 4em);
  }
    .button {
      display: block;
    }
  code {
    display: none;
  }
  #components {
    flex-flow: column nowrap;
    padding: 1em 0;
  }
  .item {
    flex-basis: 100%;
    width: calc(100% - 4em);
    margin: 0 auto;
  }
}

@media screen and (min-width: 750px) and (max-width: 1125px){
  #components {
    padding: 0.5em 0;
  }
  .item {
    flex-basis: calc(50% - 3.25em);
  }
}